<div class="page-title" ng-init="getAllContract()">
    <div class="title_left">
        <h3>Hợp Đồng</h3>
    </div>
    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for..." ng-model="search">
                <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Hợp Đồng</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="dropdown">
                        <a class="dropdown-toggle cursor" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a data-toggle="modal" data-target="#add_contract" class="cursor"> Thêm hợp đồng </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="alert alert-success" ng-if="success">
                    <strong>Success!</strong> Indicates a successful or positive action.
                </div>
                <div class="alert alert-danger" ng-if="danger">
                    <strong>{{errorMessage}}</strong>
                </div>
                <!-- form tao unit -->
                <form class="form-horizontal form-label-left collapse" id="">
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a data-toggle="collapse" data-target="#add_contract" class="cursor"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Tên đơn vị theo dõi</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" name="country" class="form-control col-md-10" ng-model="input.unitName" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="submit" class="btn btn-success" ng-click="createUnit()">Tạo</button>
                        </div>
                    </div>
                    <div class="divider-dashed"></div>
                </form>
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <!-- <th> -->
                                <!-- <input type="checkbox" id="check-all" class="flat"> -->
                                <!-- </th> -->
                                <th class="column-title">Tên cơ quan hợp tác </th>
                                <th class="column-title">Quốc Gia </th>
                                <th class="column-title">Người ký (VNU-UET) </th>
                                <th class="column-title">Nội dung hợp tác chính </th>
                                <th class="column-title">Kinh phí </th>
                                <th class="column-title">Ngày ký </th>
                                <th class="column-title">Ngày hết hiệu lực </th>
                                <th class="column-title">Đơn vị theo dõi</th>
                                <th class="column-title">Hiệu quả hợp tác</th>
                                <th class="column-title">Lưu ý </th>
                                <th class="column-title">Sửa </th>
                                <th class="column-title">Xóa </th>
                                <!-- <th class="column-title no-link last"><span class="nobr">Action</span> -->
                                <!-- </th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="even pointer" ng-repeat="contract in allContract | filter : search">
                                <!-- <td class="a-center "> -->
                                <!-- <input type="checkbox" class="flat" name="table_records"> -->
                                <!-- </td> -->
                                <td class=" ">{{contract.partner.partnerInfo.partnerName}}</td>
                                <td class=" ">{{contract.partner.nation.nationName}}</td>
                                <td class=" ">{{contract.uetMan.uetManName}}</td>
                                <td class=" ">{{contract.contentContract}}</td>
                                <td class=" ">{{contract.funding}}</td>
                                <td class=" ">{{contract.startDate}}</td>
                                <td class=" ">{{contract.endDate}}</td>
                                <td class=" ">{{contract.unitName.unitName}}</td>
                                <td class=" ">{{contract.result}}</td>
                                <td class=" ">{{contract.notice}}</td>
                                <td class="cursor ">
                                    <a data-toggle="modal" data-target="#edit_contract" class="" ng-click="setEditContract(contract)">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                                <td class=" " ng-click="setDeleteContractId(contract.id)">
                                    <a class="cursor" data-toggle="modal" data-target="#delete_contract"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ui-view></div>
                <!-- edit partner info -->
                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="edit_contract">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" id="close_modal_edit"><span aria-hidden="true">×</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Chỉnh sửa hợp đồng</h4>
                            </div>
                            <div class="modal-body">
                                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="last-name">Nội dung hợp tác: </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" id="last-name" name="last-name" class="form-control col-md-7 col-xs-12" ng-model="editContractData.contentContract">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="middle-name" class="control-label col-md-4 col-sm-4 col-xs-12">Kinh phí: </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" ng-model="editContractData.funding">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="middle-name" class="control-label col-md-4 col-sm-4 col-xs-12">Lưu ý: </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" ng-model="editContractData.notice">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="middle-name" class="control-label col-md-4 col-sm-4 col-xs-12">Kết quả hợp tác: </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" ng-model="editContractData.result">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                <button type="button" class="btn btn-primary" ng-click="editContract()">Lưu thay đổi</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end edit partner info -->
                <!-- them hop dong -->
                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" id="add_contract" ng-init="getAllPartner(); getAllUnit(); getAllUetMan(); getAllTypeContract()">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" id="close_modal_create"><span aria-hidden="true">×</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Thêm hợp đồng</h4>
                            </div>
                            <div class="modal-body">
                                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Tên cơ quan hợp tác: </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" ng-model="input.partnerId" ng-change="getPartnerContact(input.partnerId)">
                                                <option ng-repeat="partner in allPartner" value="{{partner.id}}">
                                                    {{partner.partnerInfo.partnerName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Người ký hợp đồng (đối tác): </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" ng-model="input.partnerContactId">
                                                <option ng-repeat="contact in allPartnerContact" value="{{contact.id}}">
                                                    {{contact.contactName}} - {{contact.email}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Đơn vị theo dõi: </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" ng-model="input.unitNameId">
                                                <option ng-repeat="unit in allUnit" value="{{unit.id}}">
                                                    {{unit.unitName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Người ký hợp đồng (VNU-UET): </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" ng-model="input.uetManId">
                                                <option ng-repeat="uetMan in allUetMan" value="{{uetMan.id}}">
                                                    {{uetMan.uetManName}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12">Loại hợp đồng: </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="form-control" ng-model="input.typeContractId">
                                                <option ng-repeat="typeContract in allTypeContract" value="{{typeContract.id}}">
                                                    {{typeContract.typeContract}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="last-name">Nội dung hợp tác chính: </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" id="last-name" name="last-name" class="form-control col-md-7 col-xs-12" ng-model="input.contentContract">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-4 col-sm-4 col-xs-12" for="last-name">Kinh phí: </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" id="last-name" name="last-name" class="form-control col-md-7 col-xs-12" ng-model="input.funding">
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" ng-click="createContract()">Tạo hợp đồng</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end them hop dong -->
                <!-- confirm delete cotnract -->
                <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" id="delete_contract">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close_modal_delete"><span aria-hidden="true">×</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel2">Bạn có chắc muốn xóa hợp đồng này</h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                                <button type="button" class="btn btn-primary" ng-click="deleteContract()">Xóa</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end confirm delete contract -->
            </div>
        </div>
    </div>
</div>
