<div class="clearfix">
</div>
<div class="row" ng-controller="mainCtrl">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <!-- <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" ng-class="{active : currentUrl == '/contract'}"><a class="cursor" href="/#/partner/contract" data-target="#tab" role="tab" data-toggle="tab" aria-expanded="false">Hợp đồng</a>
                        </li>
                        <li role="presentation" ng-class="{active : currentUrl == '/information'}"><a href="/#/partner/information" data-target="#tab" class="cursor" role="tab" data-toggle="tab" aria-expanded="true">Thông tin đối tác</a>
                        </li>
                        <li role="presentation" ng-class="{active : currentUrl == '/activity'}"><a href="/#/partner/activity" data-target="#tab" class="cursor" role="tab" data-toggle="tab" aria-expanded="true">Hoạt động thường niên</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tab" aria-labelledby="home-tab">
                            <div ui-view></div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="contract" aria-labelledby="profile-tab">
                            <div ui-view></div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="activity" aria-labelledby="profile-tab">
                            <div ui-view></div>
                        </div>
                    </div>
                </div> -->
                <div ui-view></div>
            </div>
        </div>
    </div>
</div>