<script src="bower_components/gentelella/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js">
</script>
<div class="clearfix"></div>
<div class="row" ng-controller="nationCtrl">
    <div class="col-md-12 col-sm-12 col-xs-12" ng-init="getAllPartner()">
        <!-- <div class="x_panel"> -->
        <div class="x_title" ng-init="editInfo = false">
            <!-- <h2 ng-click="editInfo = !editInfo">Đối tác</h2> -->
            <ul class="nav navbar-right panel_toolbox">
                <li class="dropdown">
                    <a class="dropdown-toggle cursor" data-toggle="dropdown" role="button" aria-expanded="false">
                            Thêm
                            <i class="fa fa-wrench"></i>
                        </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a data-toggle="collapse" data-target="#add_partner" class="cursor"> Thêm Đối tác </a>
                        </li>
                        <li><a data-toggle="collapse" data-target="#create_partner_contact" class="cursor"> Thêm liên hệ của Đối tác </a>
                        </li>
                        <!-- <li><a data-toggle="collapse" data-target="#add_annual_activity" class="cursor"> Thêm hoạt động của Đối tác </a>
                        </li> -->
                    </ul>
                </li>
            </ul>
            <div class="input-group pull-right">
                <input type="text" class="form-control" placeholder="Search for..." ng-model="search" style="border-radius:25px; border: 1px solid rgba(221,226,232,.49); box-shadow: inset 0 1px 0 rgba(0,0,0,.075);">
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="alert alert-success" ng-if="success">
                <strong>{{successMessage}}</strong>
            </div>
            <div class="alert alert-danger" ng-if="danger">
                <strong>{{errorMessage}}</strong>
            </div>
            <!-- form tao partner -->
            <div class="form_wizard wizard_horizontal collapse" id="add_partner">
                <ul class="wizard_steps">
                    <li>
                        <a class="cursor" id="a_step_1">
                                <span class="step_no">1</span>
                                <span class="step_descr">
                                    Bước 1
                                    <br />
                                    <small>Tạo các thông tin cơ bản</small>
                                </span>
                            </a>
                    </li>
                    <li>
                        <a class="cursor" class="disabled" id="a_step_2">
                                <span class="step_no">2</span>
                                <span class="step_descr">
                                    Bước 2
                                    <br />
                                    <small>Thêm thông tin của Đối tác</small>
                                </span>
                            </a>
                    </li>
                    <!-- <li>
                            <a class="cursor" class="disabled" id="a_step_3">
                                <span class="step_no">3</span>
                                <span class="step_descr">
                                    Bước 3
                                    <br />
                                    <small>Thêm đầu mối liên hệ của Đối tác</small>
                                </span>
                            </a>
                        </li> -->
                </ul>
                <div id="step-1" ng-if="editInfo != true">
                    <form class="form-horizontal form-label-left" ng-init="getAllContinent()">
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a data-toggle="collapse" data-target="#add_partner" class="cursor"><i class="fa fa-chevron-up"></i></a>
                            </li>
                        </ul>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Tên Đối tác</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" name="country" id="autocomplete-custom-append" class="form-control col-md-10" ng-model="input.partnerName" required />
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Châu Lục</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" ng-model="input.continent" ng-change="showNation(input.continent)">
                                    <option ng-repeat="continent in allContinent" value="{{continent.nation}}">
                                        {{continent.continentName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        {{allContinent}} -->
                        <div class="form-group" ng-init="getAllNation()">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Quốc Gia</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" ng-model="input.nationId">
                                    <option ng-repeat="nation in allNations" value="{{nation}}">
                                        {{nation.nationName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-4 col-xs-12" for="last-name">Tên cơ quan hợp tác: </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="last-name" name="last-name" class="form-control col-md-7 col-xs-12" ng-model="Partner.partnerName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-4 col-xs-12">Quốc Gia: </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" readonly="readonly" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" ng-model="Partner.nation.nationName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-4 col-xs-12">Châu Lục</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" ng-model="input.continent" ng-change="showNation(input.continent)">
                                    <option value="" selected="selected">
                                        -- Chọn châu lục --
                                    </option>
                                    <option ng-repeat="continent in allContinent" value="{{continent.nation}}">
                                        {{continent.continentName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-4 col-xs-12">Quốc Gia</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" ng-model="Partner.nationId">
                                    <option value="" selected="selected">
                                        -- Chọn quốc gia --
                                    </option>
                                    <option ng-repeat="nation in allNations" value="{{nation.id}}">
                                        {{nation.nationName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-4 col-xs-12">Giám đốc</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="date-picker form-control col-md-7 col-xs-12" type="text" ng-model="Partner.director">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-4 col-xs-12">Email</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="date-picker form-control col-md-7 col-xs-12" type="text" ng-model="Partner.email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-4 col-xs-12" for="last-name">Website</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="last-name" name="last-name" class="form-control col-md-7 col-xs-12" ng-model="Partner.website">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-4 col-xs-12">Số điện thoại</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" ng-model="Partner.phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-4 col-xs-12">Đại chỉ</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="date-picker form-control col-md-7 col-xs-12" type="text" ng-model="Partner.address">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-4 col-xs-12">Mô tả</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="date-picker form-control col-md-7 col-xs-12" type="text" ng-model="Partner.description">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-4 col-xs-12">Mã số thuế</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="date-picker form-control col-md-7 col-xs-12" type="text" ng-model="Partner.taxCode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-4 col-xs-12">Lĩnh vực làm việc</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="date-picker form-control col-md-7 col-xs-12" type="text" ng-model="Partner.fieldWork">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                                <button type="submit" class="btn btn-success" ng-click="createPartner()">Tạo</button>
                            </div>
                        </div>
                        <div class="divider-dashed"></div>
                    </form>
                </div>
                <div id="step-2" ng-if="editInfo">
                    <div class="alert alert-danger" ng-if="danger_edit">
                        <strong>{{errorMessage}}</strong>
                    </div>
                    <div class="alert alert-success" ng-if="successdelete_edit">
                        <strong>{{successMessage}}</strong>
                    </div>
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="cursor" ng-click="close()"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-4 col-xs-12" for="last-name">Tên cơ quan hợp tác: </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="last-name" name="last-name" class="form-control col-md-7 col-xs-12" ng-model="Partner.partnerName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-4 col-xs-12">Quốc Gia: </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" readonly="readonly" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" ng-model="Partner.nation.nationName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-4 col-xs-12">Châu Lục</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" ng-model="input.continent" ng-change="showNation(input.continent)">
                                    <option value="" selected="selected">
                                        -- Chọn châu lục --
                                    </option>
                                    <option ng-repeat="continent in allContinent" value="{{continent.nation}}">
                                        {{continent.continentName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-4 col-xs-12">Quốc Gia</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control" ng-model="Partner.nationId">
                                    <option value="" selected="selected">
                                        -- Chọn quốc gia --
                                    </option>
                                    <option ng-repeat="nation in allNations" value="{{nation.id}}">
                                        {{nation.nationName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-4 col-xs-12">Giám đốc</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="date-picker form-control col-md-7 col-xs-12" type="text" ng-model="Partner.director">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-4 col-xs-12">Email</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="date-picker form-control col-md-7 col-xs-12" type="text" ng-model="Partner.email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-4 col-xs-12" for="last-name">Website</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="last-name" name="last-name" class="form-control col-md-7 col-xs-12" ng-model="Partner.website">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-4 col-xs-12">Số điện thoại</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name" ng-model="Partner.phone">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-4 col-xs-12">Đại chỉ</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="date-picker form-control col-md-7 col-xs-12" type="text" ng-model="Partner.address">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-4 col-xs-12">Mô tả</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="date-picker form-control col-md-7 col-xs-12" type="text" ng-model="Partner.description">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-4 col-xs-12">Mã số thuế</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="date-picker form-control col-md-7 col-xs-12" type="text" ng-model="Partner.taxCode">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-4 col-xs-12">Lĩnh vực làm việc</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="date-picker form-control col-md-7 col-xs-12" type="text" ng-model="Partner.fieldWork">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4" ng-init="done = false">
                                <button type="submit" class="buttonFinish btn btn-default" ng-click="close()" ng-if="done == true">Hoàn thành</button>
                                <button type="submit" class="btn btn-primary" ng-click="done()" ng-if="done == false">Để sau</button>
                                <button type="submit" class="btn btn-success" ng-click="editPartnerInfo(false); done = true;">Tạo</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end form tao partner -->
            <!-- annual activity -->
            <!-- end annual activity -->
            <!-- create partner contact -->
            <form class="form-horizontal form-label-left collapse" id="create_partner_contact">
                <ul class="nav navbar-right panel_toolbox">
                    <li><a data-toggle="collapse" data-target="#create_partner_contact" class="cursor"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Tên Đối tác: </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select class="form-control" ng-model="input.partnerContact.partnerId">
                            <option value="" selected="selected">
                                -- Chọn Đối tác --
                            </option>
                            <option ng-repeat="partner in allPartner" value="{{partner.id}}">
                                {{partner.partnerName}}
                            </option>
                        </select>
                        <!-- <p ng-if="input.continentId >= 0" ng-init="init()">{{input.continentId}}</p> -->
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Tên liên hệ: </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" name="country" id="autocomplete-custom-append" class="form-control col-md-10" ng-model="input.partnerContact.contactName" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Email: </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" name="country" id="autocomplete-custom-append" class="form-control col-md-10" ng-model="input.partnerContact.email" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Phone: </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" name="country" id="autocomplete-custom-append" class="form-control col-md-10" ng-model="input.partnerContact.phone" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Chức vụ: </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" name="country" id="autocomplete-custom-append" class="form-control col-md-10" ng-model="input.partnerContact.about" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Skype: </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" name="country" id="autocomplete-custom-append" class="form-control col-md-10" ng-model="input.partnerContact.skype" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                        <button type="submit" class="btn btn-success" ng-click="createPartnerContact()">Tạo</button>
                    </div>
                </div>
                <div class="divider-dashed"></div>
            </form>
            <!-- end create partner contact -->
            <div class="clearfix"></div>
            <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                    <thead>
                        <tr class="headings">
                            <!-- <th> -->
                            <!-- <input type="checkbox" id="check-all" class="flat"> -->
                            <!-- </th> -->
                            <th class="column-title">Đối tác </th>
                            <th class="column-title">Hợp đồng</th>
                            <th class="column-title">Liên hệ</th>
                            <th class="column-title">Hoạt động</th>
                            <th class="column-title">Sửa </th>
                            <th class="column-title">Xóa </th>
                            <!-- <th class="column-title no-link last"><span class="nobr">Action</span> -->
                            <!-- </th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="even pointer" ng-repeat="partner in filtered = allPartner | filter : search |
                                startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                            <!-- <td class="a-center "> -->
                            <!-- <input type="checkbox" class="flat" name="table_records"> -->
                            <!-- </td> -->
                            <td>
                                <a class="cursor" data-toggle="modal" data-target="#show_partner_details" ng-click="editPartner(partner, false); click('information-tab')">
                                        {{partner.partnerName}}
                                    </a>
                            </td>
                            <td>
                                <a class="cursor" data-toggle="modal" data-target="#show_partner_details" ng-click="editPartner(partner); click('contract-tab')">
                                        Chi Tiết
                                    </a>
                            </td>
                            <td>
                                <a class="cursor" data-toggle="modal" data-target="#show_partner_details" ng-click="editPartner(partner); click('contact-tab')">
                                        Chi Tiết
                                    </a>
                            </td>
                            <td class=" ">
                                <a data-toggle="modal" class="cursor" data-target="#show_partner_details" ng-click="editPartner(partner); click('activity-tab')">
                                    Chi Tiết
                                </a>
                            </td>
                            <td class=" ">
                                <a data-toggle="modal" data-target="#show_partner_details" ng-click="editPartner(partner, true); click('information-tab')">
                                        <i class="fa fa-edit cursor"></i>
                                    </a>
                            </td>
                            <td class=" "><a class="cursor" data-toggle="modal" data-target="#delete_partner" ng-click="confirmDelete(partner.id)"><i class="fa fa-trash"></i></a></td>
                        </tr>
                    </tbody>
                </table>
                <ul uib-pagination total-items="totalItems" ng-model="currentPage" max-size="noOfPages" items-per-page="entryLimit"></ul>
            </div>
            <!-- partner contacts -->
            <div class="modal fade bs-example-modal-lg" role="dialog" aria-hidden="true" id="show_partner_details">
                <div class="modal-dialog" style="width: 80vw;">
                    <div class="modal-content" id="show_partner_details_modal_content">
                        <div class="modal-header">
                            <!-- <button type="button" class="close" data-dismiss="modal" id="close_modal_show_partner_details"><span aria-hidden="true">×</span>
                            </button> -->
                            <h4 class="modal-title" id="myModalLabel">Thông tin liên lạc {{PartnerContacts.partnerName}}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger" ng-if="danger_edit">
                                <strong>{{errorMessage}}</strong>
                            </div>
                            <div class="alert alert-success" ng-if="successdelete_edit">
                                <strong>{{successMessage}}</strong>
                            </div>
                            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                    <li role="presentation"><a class="cursor" data-target="#contract"  role="tab" id="contract-tab" data-toggle="tab" aria-expanded="false">Hợp đồng</a>
                                    
                                    </li>
                                    <li role="presentation"><a data-target="#information" class="cursor" id="information-tab" role="tab" data-toggle="tab" aria-expanded="true">Thông tin đối tác</a>
                                    </li>
                                    <li role="presentation"><a data-target="#activity" class="cursor" id="activity-tab" role="tab" data-toggle="tab" aria-expanded="true">Hoạt động<span class="badge bg-red" ng-if="editAnnualActivityCount > 0">{{editAnnualActivityCount}}</span></a>
                                    </li>
                                    <li role="presentation"><a data-target="#contact" class="cursor" id="contact-tab" role="tab" data-toggle="tab" aria-expanded="true">Liên hệ<span class="badge bg-red" ng-if="editContactCount > 0">{{editContactCount}}</span></a>
                                    </li>
                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <div role="tabpanel" class="tab-pane fade" id="information" aria-labelledby="information-tab">
                                        <div ui-view="information"></div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="contract" aria-labelledby="contract-tab">
                                        <div ui-view="contract"></div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="activity" aria-labelledby="activity-tab">
                                        <div ui-view="activity"></div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="contact" aria-labelledby="contact-tab">
                                        <div ui-view="contact"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="modal-footer"> -->
                        <!-- </div> -->
                    </div>
                </div>
            </div>
            <!-- end partner contacts -->
            <div class="modal fade bs-example-modal-sm delete-modal" tabindex="-1" role="dialog" aria-hidden="true" id="delete_partner">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" id="close_modal_delete_partner"><span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel2">Bạn có chắc muốn xóa Đối tác này này?</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                            <button type="button" class="btn btn-primary" ng-click="deletePartner(confirmDeleteId)">Xóa</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade bs-example-modal-sm delete-modal" tabindex="-1" role="dialog" aria-hidden="true" id="delete_partner_contact">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="closeModal('delete_partner_contact')" id="close_modal_delete_partner_contact"><span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel2">Bạn có chắc muốn xóa liên hệ của Đối tác này này?</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="closeModal('delete_partner_contact')">Hủy</button>
                            <button type="button" class="btn btn-primary" ng-click="deletePartnerContact(confirmDeleteId)">Xóa</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true" id="confirm_close_modal">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="closeModal('confirm_close_modal')">×</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel2">Bạn có chắc muốn hủy bỏ nhừng việc đang làm?</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="closeModal('confirm_close_modal')">Không</button>
                            <button type="button" class="btn btn-primary" ng-click="closeModal('confirm_close_modal'); closeModal('show_partner_details');">Có</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade bs-example-modal-sm delete-modal" tabindex="-1" role="dialog" aria-hidden="false" id="delete_activity_">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="closeModal('delete_activity_')" id="close_modal_delete"><span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel2">Bạn có chắc muốn xóa hoạt động {{confirmDeleteName}}</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="closeModal('delete_activity_')">Hủy</button>
                            <button type="button" class="btn btn-primary" ng-click="deleteAnnualActivity(confirmDeleteId, false)">Xóa</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- confirm delete cotnract -->
            <div class="modal fade bs-example-modal-sm delete-modal" tabindex="-1" role="dialog" aria-hidden="true" id="delete_contract">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="close('delete_contract')" id="close_modal_delete"><span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel2">Bạn có chắc muốn xóa hợp đồng này</h4>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" ng-click="close('delete_contract')">Hủy</button>
                            <button type="button" class="btn btn-primary" ng-click="deleteContract(); close('delete_contract');">Xóa</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end confirm delete contract -->
        </div>
        <!-- </div> -->
    </div>
</div>