<div class="clearfix">
</div>
<div class="row" ng-controller="mainCtrl">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_content">
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" ng-class="{active : currentUrl == '/nation_continent'}"><a class="cursor" href="/#/settings/nation_continent" data-target="#nation_continent" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Quốc gia</a>
                        </li>
                        <li role="presentation" ng-class="{active : currentUrl == '/vnu'}"><a href="/#/settings/vnu" data-target="#vnu" class="cursor" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">VNU</a>
                        </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="vnu" aria-labelledby="home-tab">
                            <div ui-view></div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="nation_continent" aria-labelledby="profile-tab">
                            <!-- start user projects -->
                            <div ui-view></div>
                            <!-- end user projects -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>